<!DOCTYPE html>
<html>
<head>
  <title>OCPQR Result</title>
</head>
<body>
  <h1>Generated QR Code</h1>
  <img src="<%= qrImage %>" alt="QR Code"><br>
  <p><strong>QR Content:</strong> <%= qrData %></p>
  <a href="/">Back</a>
</body>
</html>
